<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a href="app_spider.html">爬虫功能</a>
</div>
<div>
      <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="text" name="weba" /></td>
        <td><input type="submit" name="提交" /></td>
        <td><input type="text" name="web" />{{ web }}</td>
    </tr>
    </tbody>

</table>
</div>
</body>
</html>